//Screen sizes
$screen-mobile: 375px;
$screen_desktop: 1440px;

//Colors
$primary-blue: hsl(220, 98%, 61%);
$primary-grad-from: hsl(192, 100%, 67%);
$primary-grad-to: hsl(280, 87%, 65%);
$light-gray: hsl(0, 0%, 98%);
$light-vgrayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(236, 9%, 61%);
// ### Light Theme

// - Very Light Gray: hsl(0, 0%, 98%)
// - Very Light Grayish Blue: hsl(236, 33%, 92%)
// - Light Grayish Blue: hsl(233, 11%, 84%)
// - Dark Grayish Blue: hsl(236, 9%, 61%)
// - Very Dark Grayish Blue: hsl(235, 19%, 35%)

// ### Dark Theme

// - Very Dark Blue: hsl(235, 21%, 11%)
// - Very Dark Desaturated Blue: hsl(235, 24%, 19%)
// - Light Grayish Blue: hsl(234, 39%, 85%)
// - Light Grayish Blue (hover): hsl(236, 33%, 92%)
// - Dark Grayish Blue: hsl(234, 11%, 52%)
// - Very Dark Grayish Blue: hsl(233, 14%, 35%)
