@import "../../../sassStyles/variables";
.todo__container {
}

.todo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;

  h3 {
    font-size: 1.2rem;
  }

  h3.todo__done {
    text-decoration: line-through;
  }

  .todo__typography {
    display: flex;
    align-items: center;
  }
}

.todo__circleContainer {
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
  border: 2px solid $light-vgrayish-blue;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
  }
}
